:root { 
--light_blue_A100:#90e8ff; 
--pink_900:#4f0047; 
--light_blue_A200:#36b9ff; 
--indigo_A200:#5765f2; 
--deep_purple_700:#3c29d7; 
--deep_purple_100:#dccfef; 
--lime_A400:#cdfe02; 
--yellow_400:#fef065; 
--pink_A100:#ff80c4; 
--white_A700_33:#ffffff33; 
--black_900_01:#000000; 
--black_900:#120a14; 
--deep_orange_300:#ff8e5e; 
--white_A700_19:#ffffff19; 
--deep_purple_A200:#6d5eea; 
--pink_300:#df4aa2; 
--red_A200_02:#fc395a; 
--pink_100:#ffb8de; 
--red_A200_01:#ff4262; 
--pink_200:#fb83ca; 
--deep_purple_A200_01:#7364eb; 
--gray_700:#575757; 
--blue_gray_100:#d1d3d4; 
--lime_700:#b6a81c; 
--red_A200:#ff4060; 
--gray_900:#170d19; 
--gray_100:#f0f5f7; 
--cyan_800:#126c83; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}